[submodule "catppuccin-tmux"]
  path = plugins/catppuccin-tmux
  url = git@github.com:dreamsofcode-io/catppuccin-tmux

[submodule "tmux-sensible"]
  path = plugins/tmux-sensible
  url = git@github.com:tmux-plugins/tmux-sensible

[submodule "tpm"]
  path = plugins/tpm
  url = git@github.com:tmux-plugins/tpm

[submodule "vim-tmux-navigator"]
  path = plugins/vim-tmux-navigator
  url = git@github.com:christoomey/vim-tmux-navigator
